.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

@media (min-width: 768px)
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px)
.navbar-header {
    float: left;
}